.homepage{
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
    background-color: darkcyan;
    padding-top: 35vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 10vh;
    }

    a{
        background-color: darkcyan;
        font-size : x-large;
        padding-left: 30vw;
        color: white;
        text-decoration: none;
        
    }

    a:hover{
        background-color: darkcyan;
        text-decoration: underline;
    }

    #button2{
        background-color: darkcyan;
        padding-bottom: 25vh;
    }
}
